<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ rootPath }}">{{ appName }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-nav-collapse">



      {{!-- Links --}}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ rootPath }}">Info</a></li>

        {{#if currentUser }}
        <li><a href="/logout">Sign Out</a></li>
        {{else}}
        <li><a href="/login">Sign in</a></li>
        {{/if}}

      </ul>

  </div><!-- /.container-fluid -->
</nav>
