<!-- add total story so far -->



<form class="form-group" action='/posts/new' method='post'>

<div class='form-group'>
  <textarea name="post" class='form-control' rows='5' maxlength="500" placeholder="Only 500 characters so make 'em count!"></textarea>
</div>

<div class='form-group'>
  <input type='submit' class='btn btn-primary' />
</div>
</form>
