<p>
 {{story.body}}
</p>
<br />
<hr />

<!-- display all other comments for the period by upvotes -->

<div class='container'>  {{#each story.posts as |post| }}
    {{post}} is POST
    <div class='row'>
    <div class='col col-xs-1'>
      {{post.votes}}
    </div>
    <div class='col col-xs-11 offset-xs-1'>{{post.body}} </div>
    </div>
    <br />
  {{/each }}</div>
